$d_bg1 : "/Asset/d_teaser/Egg Red Background.png";
$t_bg1 : "/Asset/t_teaser/Egg Red Background.png";
$m_bg1 : "/Asset/m_teaser/Egg Red Background.png";

$d_bg2 : "/Asset/d_teaser/Egg Green Background.png";
$t_bg2 : "/Asset/t_teaser/Egg Green Background.png";
$m_bg2 : "/Asset/m_teaser/Egg Green Background.png";

$d_bg3 : "/Asset/d_teaser/Egg Yellow Background.png";
$t_bg3 : "/Asset/t_teaser/Egg Yellow Background.png";
$m_bg3 : "/Asset/m_teaser/Egg Yellow Background.png";

$d_bg4 : "/Asset/d_teaser/Egg Pink Background.png";
$t_bg4 : "/Asset/t_teaser/Egg Pink Background.png";
$m_bg4 : "/Asset/m_teaser/Egg Pink Background.png";

$d_bg5 : "/Asset/d_teaser/Egg Blue Background.png";
$t_bg5 : "/Asset/t_teaser/Egg Blue Background.png";
$m_bg5 : "/Asset/m_teaser/Egg Blue Background.png";


// $d_bg1 : "/homesforallbirds/Asset/d_teaser/Egg Red Background.png";
// $t_bg1 : "/homesforallbirds/Asset/t_teaser/Egg Red Background.png";
// $m_bg1 : "/homesforallbirds/Asset/m_teaser/Egg Red Background.png";

// $d_bg2 : "/homesforallbirds/Asset/d_teaser/Egg Green Background.png";
// $t_bg2 : "/homesforallbirds/Asset/t_teaser/Egg Green Background.png";
// $m_bg2 : "/homesforallbirds/Asset/m_teaser/Egg Green Background.png";

// $d_bg3 : "/homesforallbirds/Asset/d_teaser/Egg Yellow Background.png";
// $t_bg3 : "/homesforallbirds/Asset/t_teaser/Egg Yellow Background.png";
// $m_bg3 : "/homesforallbirds/Asset/m_teaser/Egg Yellow Background.png";

// $d_bg4 : "/homesforallbirds/Asset/d_teaser/Egg Pink Background.png";
// $t_bg4 : "/homesforallbirds/Asset/t_teaser/Egg Pink Background.png";
// $m_bg4 : "/homesforallbirds/Asset/m_teaser/Egg Pink Background.png";

// $d_bg5 : "/homesforallbirds/Asset/d_teaser/Egg Blue Background.png";
// $t_bg5 : "/homesforallbirds/Asset/t_teaser/Egg Blue Background.png";
// $m_bg5 : "/homesforallbirds/Asset/m_teaser/Egg Blue Background.png";



.body{
  padding: 0 0.5rem;


}
.banner{
  display: flex;
  flex-direction: column;

  &Cover{
// width:288px;
// height: 232px;
max-height: 300px;
margin-bottom: 16px;
  }

  &Card{
line-height: 1.5rem;
margin: 1rem;
      &HeaderTitle{
        font-family: "eq_headlinebold";
        font-size: 28px;
        color: white;
      }
      &HeaderTextBold{
        font-family: "eq_headlinebold";
        font-size: 20px;
        color: white;
      }

      &Body{
        margin:1rem 0px;
        &TextBold{
          font-family: "eq_headlinebold";
          font-size: 18px;
          color: white;
  
          margin: 1rem 0;
          line-height: 2rem;
          width: 223px;
        }
  
        &Text{
          font-family: "eq_headlineregular";
          font-size: 14px;
          color: white;
    }
  }
     

  &Footer{
    display: flex;
    flex-direction: column;

    &TextBold{
      font-family: "eq_headlinebold";
      font-size: 20px;
      color: white;
    }
  
    &Icons{
      img{
  margin: 1rem 2rem 0rem 0;

      }
    }
  }


}
}


.container{
   width: 100%;
      margin: 0;
      padding: 2rem 0.5rem 2.25rem 0.5rem;
      // min-height: -webkit-fill-available;
      min-height: auto;
     
}
.bg1{
  // background-image: url($m_bg1);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  background: #F05A27;
}

.bg2{
  background-image: url($m_bg2);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.bg3{
  background-image: url($m_bg3);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg4{
  background-image: url($m_bg4);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg5{
  background-image: url($m_bg5);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)  {  
  .banner{
    &Cover{
  max-height: unset;
 margin-left: -16px
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)   {
  .bg1{
    background-image: url($t_bg1);
  }
  
  .bg2{
    background-image: url($t_bg2);
  }

  .bg3{
    background-image: url($t_bg3);
  }

  .bg4{
    background-image: url($t_bg4);
  }

  .bg5{
    background-image: url($t_bg5);
  }

  .container{
    
       padding: 2rem 1rem 2.25rem 1rem;
 }


  .banner{
    display: flex;
    flex-direction: row;
  
    &Cover{
      width: 336px;
      height: 271px;
  margin-bottom: 16px;
    }
  
    &Card{

       
        &Body{
          margin:1rem 0px;
          
    }
       
  
    &Footer{
      display: flex;
      flex-direction: column;
  
      &TextBold{
        font-family: "eq_headlinebold";
        font-size: 20px;
        color: white;
      }
    
      &Icons{
        img{
    margin: 0.5rem 1rem 0.5rem 0;
    min-height: 23px;
        }
      }
    }
  
  
  }
  }

}

@media (min-width: 992px)  { 

  .bg1{
    background-image: url($d_bg1);

  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  }
  
  .bg2{
    background-image: url($d_bg2);
  }

  .bg3{
    background-image: url($d_bg3);
  }

  .bg4{
    background-image: url($d_bg4);
  }

  .bg5{
    background-image: url($d_bg5);
  }


  .container{
    
    padding: 2rem 13.5rem 2.25rem 13.5rem;
}

.banner{
  display: flex;
  flex-direction: row;

  &Cover{
    width: 670px;
    height: 540px;
    margin-bottom: 16px;
    margin-left: -16px;
  }

  &Card{
    line-height: unset;
    margin-top: 3rem;
    &HeaderTitle{
      font-size: 39px;
    }
    &HeaderTextBold{
      font-size: 28px;
    }
     
      &Body{
        margin:2rem 0px;

        &TextBold{
          font-size: 28px;
          width:auto;
        }
  
        &Text{
          font-size: 22px;
          letter-spacing: 0.44px;
    }
        
  }
     

  &Footer{
    display: flex;
    flex-direction: column;

    &TextBold{
      font-family: "eq_headlinebold";
      font-size: 28px;
      color: white;
      letter-spacing: 1.68px;
    }
  
    &Icons{
      img{
  margin: 1rem 3rem 1rem 0;
  min-height: 41px;

      }
    }
    // .item{
    //   min-height: 41px;
    // }
  }


}
}

}