
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 1rem;
    width: 100%;
    flex-shrink: 0;
}

.shadow{
    box-shadow: 0px 2px 6px #000000;
    opacity: 1;
}

.logoRight{
    height: 15px;
}

.logoLeft{
height: 14px;;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)   {
    .container{
        padding: 0 2rem;
    }
    .logoRight{
        height: 18px;
    }
    
    .logoLeft{
    height: 15px;
    }
}

@media (min-width: 992px)  { 
    .container{
        padding: 0 13.5rem;
        height: 80px;
       
    } 
    .logoRight{
        height: 30px;
    }
    
    .logoLeft{
    height: 30px;
    }
}